<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HPStore</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="bg-dark text-white p-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col navbar-brand">HP STORE</div>
                <div class="col-6 text-right">
                        <vc:cart-summary />
                    </div>
                </div>
            </div>
        </div>
                    <div class="row m-1 p-1">
                        <div id="loais" class="col-3">
                            <p>
                                Thì ra mùa xuân hoa nở là vì em

                            </p>
                            <vc:genre-navigation />
                        </div>
                        <div class="col-9">
                            @RenderBody()
                        </div>
                    </div>
                </div>
</body>
</html>
